.dashboard-wrap
  height: 100vh
  width: 80%
  float: right

  .dashboard
    padding-left: 70px
    padding-right: 70px

  .calendar
    position: absolute
    top: 50px
    right: 0px
    background: #fafafa
    z-index: 2
    box-shadow: 1px 1px 1px 1px rgba(50, 50, 50, 0.17)
    p
      padding-left: 20px

  .calendar-header
    display: inline-block
    margin-top: 15px
    margin-bottom: 5px
  .link
      color: blue !important

  h1
    padding: 10px 0 10px 30px

  .chart
    height: 550px

  form
    float: right

  .select-project-for-chart
    width: 300px
    color: black !important
    border-radius: 4px
    margin-right: 50px

  .input-project-for-chart-label
    margin-right: 10px

  .input-conditions-for-chart
    margin: 10px
    position: relative
    height: 30px


  .input-date-for-chart
    float: right
    cursor: pointer
    display: inline-block

    .icon-arrow-down
      height: 10px
      margin-top: 8px

    .date-interval
      display: inline-block
      float: left
      margin: 0
      padding-right: 5px
      margin-top: 4px





