
.history
  padding: 55px 50px 50px 50px

  .day
    border-radius: 5px
    box-shadow: 5px 5px 8px 6px rgba(50, 50, 50, 0.04)
    margin-top: 25px
    padding-top: 20px
    padding-bottom: 20px

    .day-duration
      padding-right: 21px

    .date
      font-size: 18px
      font-weight: 600

    .projects-block
      display: block

      .project-duration
        display: flex
        justify-content: space-between

      .duration-left-part
        min-width: 50vw

  .duration-wrap
    display: flex
    justify-content: space-between
    padding: 0 20px 0 30px

    .time-duration
      display: inline-block

  .hashtag-history
    color: black
    display: none
    font-size: 14px
    padding-right: 3px

  .show
    display: inline

  .project-name
    display: inline-block


  .project-duration, .activity-duration
    position: relative
    &:hover
      background: $backgroundOverview
      cursor: pointer
      .fa-ellipsis-v
        visibility: visible

  .activity-duration
    padding-left: 60px

  .interval
    margin: 0
    padding: 12px 0 12px 85px

    &:hover
      background: $backgroundOverview
      cursor: pointer

  .edit-entry-menu
    background: $backgroundOverview
    position: absolute
    right: 25px
    top: 55px
    color: black
    box-shadow: 3px 3px 5px 1px rgba(50, 50, 50, 0.17)
    font-size: 15px
    padding: 7px 20px 7px 20px
    border-radius: 5px
    z-index: 2
    animation-duration: 300ms
    .edit-entry-menu-link, .delete-entry-menu-link
      &:hover
        color: green

  .fa-ellipsis-v
      padding-left: 15px
      visibility: hidden
      color: #d6d6d6
      &:hover
        color: #262626
        transition: all 0.5s
