.projects-section
  height: 100vh
  width: 80%
  float: right

  .projects-section-main
    padding: 30px 50px 50px 50px

  .projects-table-header
    font-size: 22px
    padding-bottom: 20px
    padding-left: 10px

  table
    width: 100%
    cursor: pointer

    thead th
      font-weight: 400
      color: black
      background: white
      font-size: 20px


    tr
      background: 	$backgroundTimer
      margin-bottom: 3px
      &:hover
        background: rgba(92, 92, 92, 0.92)
        color: white

      td[name="ellipsis"]
        background: $backgroundTimer

    tr:nth-child(even)
      background: $backgroundOverview
      &:hover
        background: rgba(92, 92, 92, 0.92)
        color: white

      td[name="ellipsis"]
        background: $backgroundOverview

    td[name="ellipsis"]
      width: 18px
      color: grey
      .fa-ellipsis-v
        padding-left: 5px

    th, td
      text-align: left
      padding: 12px
      font-weight: 300

  .invisible
    position: absolute
    right: 40px


  .edit-entry-menu
    background: $backgroundOverview
    position: absolute
    right: 25px
    top: 55px
    color: black
    box-shadow: 3px 3px 5px 1px rgba(50, 50, 50, 0.17)
    font-size: 15px
    padding: 7px 20px 7px 20px
    border-radius: 5px
    z-index: 2
    animation-duration: 300ms
    .edit-entry-menu-link
      &:hover
        color: green

