.select-project
  width: 250px
  position: relative

  .hashtag, .select-or-choose-project
    position: relative
    cursor: pointer
    padding-right: 5px
    top: 1px
    cursor: pointer

  .hashtag
    font-size: 13px
    top: 1px

  .select-or-choose-project
    font-size: 16px
    font-weight: 400
    letter-spacing: -0.3px

  .hidden-menu-select-project
    position: absolute
    display: block
    width: 200px
    top: 50px
    left: 0px
    padding: 15px
    border-radius: 3px
    box-shadow: 2px 2px 8px 1px rgba(50, 50, 50, 0.17)
    background: $backgroundOverview
    color: black
    animation-duration: 300ms
    z-index: 2

  .menu-edit-project
    top: 10px
    left: -10px

  .project-link
    cursor: pointer
    padding-top: 3px
    &:hover
      color: green
      transition: all 100ms

  .icon-plus
    position: relative
    top: 4px
    margin-right: 5px
    display: inline-block
    height: 1.2em
    cursor: pointer

  .new-project-input
    outline: none
    border: none
    padding: 5px 5px 5px 0px
    display: inline-block
    width: 80%
    background: $backgroundOverview
    color: black






