.side-panel
  width: 20%
  height: 100vh
  background: $backgroundBlack
  color: $grey
  position: fixed
  float: left
  display: block

  .side-panel-padding
    padding: 33px 0 33px 30px

  .far
    display: inline
    float: left
    margin-right: 10px
    font-size: 25px

  .logo
    font-family: 'Bitter'
    font-size: 20px
    padding-bottom: 20px
    cursor: pointer
    font-weight: 500

  .menu-item
    margin-left: 35px
    display: block
    font-size: 17px
    padding-bottom: 9px
    &:hover
      color: $green
      transition: all 0.1s




