.timer-panel-wrapper
  width: 80%
  position: fixed
  z-index: 2

.timer-panel
  background: $backgroundTimer
  background: white
  box-shadow: rgb(243, 243, 243) 0px 1px 0px 0px
  display: flex
  justify-content: space-between
  padding: 0px 30px 0px 30px

  .timer-panel-right
    display: flex
    justify-content: space-between
    margin-top: 20px

  .activity-input
    outline: none
    border: none
    padding: 20px 10px 20px 0px
    width: 300%

  .fa-play, .fas-stop
    display: inline-block
    position: relative
    cursor: pointer
    top: 1px

  .timer
    display: inline-block
    width: 70px
    margin-top: 0px
    padding-right: 25px
    font-size: 17px


