@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri')
@import url('https://fonts.googleapis.com/css?family=Bitter')
@import url('https://fonts.googleapis.com/css?family=Lato')

body
  font-family: "Hind Siliguri", Arial, sans-serif

a
  text-decoration: none
  &:hover
    text-decoration: none

a:visited, a:link, a:active
  color: $grey
a:focus
  outline: none /* for Firefox */


/* When editing projects or activities */
[contenteditable]:focus
  outline: 0px solid transparent
  border-bottom: 1px solid grey
  .underline-activities
    padding-bottom: 3px

.underline-projects
  border-bottom: 1px solid grey

.underline-activities
  border-bottom: 1px solid grey

